<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pickups</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

<body>
  <header>
    <div class="title">
      <img src="./images/header.png" alt="Playbook">
    </div>
    <nav>
      <a href="/">
        <div class="navBar">
          Choose New Sport
        </div>
      </a>
        <div class="navBar dropdown">
          <button class="dropbtn">
            Find a Pickup
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/soccer">Soccer</a>
            <a href="/ultimate">Ultimate</a>
            <a href="/football">Football</a>
          </div>
        </div>
      <% if (user) { %>
      <a href="/new">
        <div class="navBar">
          Make New Pickup
        </div>
      </a>
      <a href="/profile/<%= user._id %>">
        <div class="navBar">
          Profile
        </div>
      </a>
        <% } else { %>

        <% } %>
      <% if (user) { %>
      <a href="/logout" class="logout">
        <div >
        		Log Out
        </div>
      </a>
    	<% } else { %>
      <a href="/auth/google" class="logout">
        <div class="navBar">
          Login with Google
        </div>
      </a>
      <% } %>
      </div>
    </nav>
  </header>
