<%- include('./partials/header') %>


<main class="new">

  <div class="newDetails">
    <div class="leftNew">
      <div class="locations">
        <label for="">Select a location</label>
        <select class="" name="Location">
          <!-- Dropdown menu for location options -->
        </select>
      </div>
      <div class="newComments">
        <label for="">Comments on the location</label>
        <input type="text" name="" value="">
      </div>
      <div class="numPlayersNew">
        <label for="">How many players are with you?</label>
        <input type="text" name="" value="">
      </div>
    </div>
    <div class="rightNew">
      <div class="newMap">
        Map.API
      </div>
    </div>

  </div>


</main>


<%- include('./partials/footer') %>
