html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d19a3;
  color: #E4C580;
  margin: 0;
}

/* header styling */
header {
  width:100%;
  text-align:center;
  background-color: black;
}
img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}
nav {
  display: flex;
  margin-top: -4px;
  background-color:  #0d19a3;
  border: 2px solid black;
  height: 50px;
  z-index: 1;
  overflow: hidden;
}

.dropbtn {
  background-color:  #0d19a3;
  color: #15db95;
  border: none;
  font-size: 18px;
  padding: 0 5px;
  padding-bottom: 25px;
}

nav > a {
  justify-content: flex-start;
  align-content: center;
  font-size: 18px;
  padding: 0 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

nav > a:hover {
  background-color: #E4C580;
  color: #0d19a3;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #E4C580;
  color: #0d19a3;
}

.dropdown-content > a:hover {
  background-color: #E4C580;
  color: #0d19a3;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  z-index: 1;
  border: 1px solid black;
}

.dropdown-content a {
  float: none;
  background-color:  #0d19a3;
  display: block;
  color: #15db95;
  border: none;
  font-size: 18px;
  padding: 0 5px;
  border: 1px solid black;
  height: 35px;
}


.logout {
  margin-left: auto;
}

a {
  color: #15db95;
  text-decoration: none;
}

.welcome {
  width: 1fr;
  background-color: white;
  color: black;
  text-align: center;
}

.welcome > h1 {
  margin-top: 0;
}
.welcome > h3 {
  margin-top: 0;
}

.blank {
  display: flex;
  flex-direction: row;
}

.sportsball {
  text-decoration: none;
  color: black;
  width: 150px;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
label {
  background-color: grey;
  padding: 2px;
  text-align: center;
}

/* index styling */
.pickup {
  width: 300px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 200px 50px;
  grid-template-areas:
    "pickupMap pickupMap"
    "timestamp numPlayers"
}
.pickupMap {
  text-align: center;
  grid-area: pickupMap;
  border: 1px solid black;
}
.timeStamp {
  grid-area: timestamp;
  border: 1px solid black;
}
.numPlayers {
  grid-area: numPlayers;
  border: 1px solid black;
  text-align: right;
}
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}


/* show Pickup styling */
.showDetails {
  margin: 20px auto;
  display: grid;
  background-color: white;
  grid-template-columns: 250px 250px;
  grid-template-areas:
    "leftShow rightShow"
}
.rightShow {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 150px 50px;
  grid-template-areas:
    "map"
    "directions"
}
.leftShow {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas:
    "comments"
    "timestamp"
    "numPlayers"
    "playersJoined"
}
.comments {
  grid-area: comments;
  border-bottom: 1px solid black;
}
.timestampShow {
  grid-area: timestamp;
  border-bottom: 1px solid black;
}
.numPlayersShow {
  grid-area: numPlayers;
  border-bottom: 1px solid black;
}
.playersJoined {
  grid-area: playersJoined;
}
.showMap {
  grid-area: map;
}
.directions {
  grid-area: directions;
  border-top: 1px solid black;
}

/*New Pickup styling*/
.newDetails {
  margin: 20px auto;
  display: grid;
  background-color: white;
  grid-template-columns: 250px 250px;
  grid-template-areas:
    "leftShow rightShow"
}
.rightNew {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 200px;
  grid-template-areas:
    "map"
}
.leftNew {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sport"
    "locations"
    "newComments"
    "numPlayersNew"
}

.sport{
  grid-area: sport;
  border-bottom: 1px solid black;
}

.locations {
  grid-area: locations;
  border-bottom: 1px solid black;
}
.newComments {
  grid-area: newComments;
  border-bottom: 1px solid black;
}

.numPlayersNew {
  grid-area: numPlayersNew;
}

.newMap {
  grid-area: map;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footerDiv {
  background-color: #E4C580;
  color: #0d19a3;
  width: 1fr;
}

.map {
  width: 250px;
}
