html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #E4C580; */
    background-color: rgb(236, 231, 216)
  color: black;
  margin: 0;
}

/* header styling */
header {
  width:100%;
  text-align:center;
  /*change*/
  background-color: black;
}
.banner {
  /*change*/
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}
nav {
  display: flex;
  margin-top: -4px;
  background-color:  rgb(130, 130, 130);
  border: 2px solid black;
  height: 50px;
  z-index: 1;
  overflow: hidden;
}

.dropbtn {
  background-color:  rgb(130, 130, 130);
  color: black;
  border: none;
  font-size: 18px;
  padding: 0 5px;
  padding-bottom: 25px;
}

nav > a {
  justify-content: flex-start;
  align-content: center;
  font-size: 18px;
  padding: 0 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  color: black;
}

.dropbtn:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

nav > a:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-right: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(71, 71, 71);
  color: white;
}

.dropdown-content > a:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  z-index: 1;
  border: 1px solid black;
}

.dropdown-content a {
  float: none;
  background-color: rgb(130, 130, 130);
  display: block;
  color: black;
  border: none;
  font-size: 18px;
  padding: 0 5px;
  border: 1px solid black;
  height: 35px;
}


.logout {
  margin-left: auto;
}

a {
  color: black;
  text-decoration: none;
}



.welcome {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  color: black;
  text-align: center;
}

.welcome > h1 {
  margin-top: 0;
}
.welcome > h3 {
  margin-top: 0;
}

.howTo {
  margin-left: 15%;
}

.blank {
  display: flex;
  flex-direction: row;
}

.sportsball {
  text-decoration: none;
  color: black;
  width: 150px;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
label {
  background-color: grey;
  padding: 2px;
  text-align: center;
}

.makeNewExample {
  width: 400px;
}

.commentExample {
  width: 400px;
}

/* index styling */
.pickup {
  width: 300px;
  margin: 10px auto;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 150px 150px;
  grid-template-rows: 200px 50px;
  grid-template-areas:
    "pickupMap pickupMap"
    "timestamp numPlayers"
}

/*To Delete*/
/*.pleaseWork {
  grid-area: pickupMap;
  border: 1px solid black;
}*/
.indexMap {
  grid-area: pickupMap;

}
.timeStamp {
  grid-area: timestamp;
  border: 1px solid black;
}
.numPlayers {
  grid-area: numPlayers;
  border: 1px solid black;
  text-align: right;
}
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

/* profile styling */

.profileWelcome {
  margin: 0 auto;
}

.help{
  width: 500px;
  margin-left: 15%;
}


.profileDetails {
  margin: 20px auto;
  /*float: right;*/
  display: grid;
  background-color: white;
  grid-template-columns: 250px 250px;
  grid-template-areas:
    "leftShow rightShow"
}



/* show Pickup styling */

.helpShow{
  width: 500px;
  margin: 0;
}

.showDetails {
  margin: 20px 0;
  display: grid;
  background-color: white;
  grid-template-columns: 250px 300px;
  grid-template-areas:
    "leftShow rightShow"
}




.rightShow {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px;
  grid-template-areas:
    "map"

}
.leftShow {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 249px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas:
    "comments"
    "timestamp"
    "numPlayers"
    "join"
}
.comments {
  grid-area: comments;
  border-bottom: 1px solid black;
}
.timestampShow {
  grid-area: timestamp;
  border-bottom: 1px solid black;
}
.numPlayersShow {
  grid-area: numPlayers;
  border-bottom: 1px solid black;
}
.join {
  grid-area: join;
  height: 48px;
}

.joinButton {
  width: 248px;
  height: 50px;
  border: none;
}

.joinButton:hover {
  color: white;
  background-color: grey;
}

.showMap {
  grid-area: map;
}
.directions {
  grid-area: directions;
  border-top: 1px solid black;
}

.commentTable {
  background-color: grey;
  width: 600px;

}
table {
  width: 500px;
  margin-top: 20px;
  height: 200px;
  overflow: scroll;
  border: 1px solid black;
  /*margin-left: 18%;*/
}
tr {
  border: 1px solid black;
  height: 20px;
  padding: 0;
}

#show {
  /*margin-left: 15%*/
}

.showcomments {

}

td {

}


.commentForm {

}

/*New Pickup styling*/
.newDetails {
  margin: 20px auto;
  display: grid;
  background-color: white;
  grid-template-columns: 250px 250px;
  grid-template-areas:
    "leftShow rightShow"
}
.rightNew {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 250px;
  grid-template-areas:
    "map"
}
.leftNew {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sport"
    "locations"
    "newComments"
    "numPlayersNew"
}

.sport{
  grid-area: sport;
  border-bottom: 1px solid black;
}

.locations {
  grid-area: locations;
  border-bottom: 1px solid black;
}
.newComments {
  grid-area: newComments;
  border-bottom: 1px solid black;
}

.numPlayersNew {
  grid-area: numPlayersNew;
}

.newMap {
  grid-area: map;
}

footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footerDiv {
  background-color:rgb(130, 130, 130);
  color: black;
  width: 1fr;
}

.map {
  height: 100%;
}
