<%- include('../partials/header') %>

<div class="welcome">
  <h1>Welcome to PickUps</h1>

  <h3>Josh Joll's center for adults who want to play good and want to learn to do other stuff good too.</h3>
</div>

<div class="howTo">
  <h2 class="test">Please Log in with Google to get full optimization.</h2>
  <h3>Pickups is designed to bring you more of what your love.</h3>
  <h3>find your sport:</h3>
  <h4>Select your sport and see all the games going on around you</h4>
  <img src="images/findpickup.png" alt="">
  <!-- <img src="screenshot of all games" alt=""> -->
  <h3>OR</h3>
  <h4>Bring your friends and start your own pickup to find new friends</h4>
  <!-- <img src="screenshot of new game page" alt=""> -->
  <h3>Talk to your new teammates and coordinate exact meetup locations</h3>
  <!-- <img src="screenshot of working comments and host comments" alt=""> -->


</div>



<%- include('../partials/footer') %>
