<%- include('../partials/header') %>

<div class="welcome">
  <h1>Welcome to PickUps</h1>

  <h3>Josh Joll's center for adults who want to play good and want to learn to do other stuff good too.</h3>
</div>

<div id="landingPage">
  <h2 class="test">Please select a sport to continue:</h2>
  Put in example for starting, intro to Oauth, etc
</div>



<%- include('../partials/footer') %>
