<%- include('../partials/header') %>

<h1>Welcome to PickUps</h1>

<h3>Please select a sport and continue.</h3>

<div id="landingPage">
  <h2 class="test">Please select a sport to continue:</h2>
  <section class="blank">
    <div class="soccer">
      <form class="" action="index.html" method="post">
        
      </form>

    </div>
    <div class="kickball">

    </div>
    <div class="sportsball">

    </div>
    <div class="volleyball">

    </div>
    <div class="football">

    </div>
    <div class="frisbee">

    </div>
  </section>
  <button type="button" name="button" id="play">Let's Play!</button>
</div>


<%- include('../partials/footer') %>
