<%- include('../partials/header') %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPsnFimaA4YhK6htIku8Cz0gM10FtA1I&callback=initMap"> </script>

<main class="new">

<form class="" action="/soccer" method="POST">
  <div class="newDetails">
    <div class="leftNew">
      <div class="sport">
        <label for="">Choose your Sport:</label>
        <select class="" name="sport">
          <option value="soccer">Soccer</option>
          <option value="football">Football</option>
          <option value="frisbee">Ultimate Frisbee</option>
        </select>
      </div>
        <div class="locations">
        <label for="">Select a location</label> <br>
        <input type="number" name="lat" id="lat" readonly>
        <input type="number" name="lon" id="lon" readonly>
      </div>
      <div class="newComments">
        <label for="">Comments on the location</label>
        <input type="text" name="hostComments" value="">
      </div>
      <div class="numPlayersNew">
        <label for="">How many players are starting with you?</label>
        <input type="text" name="numOriginalPlayers" value="">
      </div>
    </div>
    <div class="rightNew">
      <div class="map">
        <div id="map"></div>
        <script id="map" type="text/javascript">


          var map, marker;

          function initMap() {
            var options = {
              zoom: 12,
              center:  {lat: 30.2672, lng:-97.7431},
              zoomControl: false,
              streetViewControl: false,
              mapTypeControl: false,

            }

            map = new google.maps.Map(document.getElementById('map'), options);
            marker = new google.maps.Marker;

            //centers map on user location
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                map.setCenter(pos);})
              } else {
                // Browser doesn't support Geolocation, sets location to Austin
                map.setCenter({lat: 30.2672, lng:-97.7431});
            }

            var markers = [
            /*{
              coords: {lat: 30.267490630430462, lng: -97.76876091957092 },
              map: map,
            },*/
            ];

            //sets all markers to active
            function setMapOnAll(map) {
              for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
              }
            }

            //sets old markers as null
            function clearMarkers() {
              setMapOnAll(null);
            }
            function pleaseWork(props) {
              var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
              });
            }

            //adds event listener for marker, lat/lon to form
            google.maps.event.addListener(map, 'click', function(event){
              clearMarkers();
              var lat = event.latLng.lat()
              var lng = event.latLng.lng()
              //updates the form to pass to db
              document.getElementById('lat').value = lat;
              document.getElementById('lon').value = lng;
              var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
              });
              markers.push(marker);
            });

            //FUTURE DELETE
            function addMarker(props) {
              var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
              });

            }
          }

        </script>


      </div>
    </div>

  </div>
  <input type="submit" value="Add Game">
</form>

</main>


<%- include('../partials/footer') %>
