<%- include('../partials/header') %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPsnFimaA4YhK6htIku8Cz0gM10FtA1I&callback=initMap"> </script>

<main class="new">

<form class="" action="/soccer" method="POST">
  <div class="newDetails">
    <div class="leftNew">
      <div class="sport">
        <label for="">Choose your Sport:</label>
        <select class="" name="sport">
          <option value="soccer">Soccer</option>
          <option value="football">Football</option>
          <option value="frisbee">Ultimate Frisbee</option>
        </select>
      </div>
        <div class="locations">
        <label for="">Select a location</label> <br>
        <input type="number" name="lat" id="lat" readonly>
        <input type="number" name="lon" id="lon" readonly>
      </div>
      <div class="newComments">
        <label for="">Comments on the location</label>
        <input type="text" name="hostComments" value="">
      </div>
      <div class="numPlayersNew">
        <label for="">How many players are starting with you?</label>
        <input type="text" name="numOriginalPlayers" value="">
      </div>
    </div>
    <div class="rightNew">
      <div class="map">
        <div id="map"></div>
        <script id="map" type="text/javascript">
          function initMap() {
            var options = {
              zoom: 10,
              center: {lat: 30.2672, lng:-97.7431}
            }

            var map = new google.maps.Map(document.getElementById('map'), options);

            google.maps.event.addListener(map, 'click', function(event){
              document.getElementById('lat').value = event.latLng.lat();
              document.getElementById('lon').value = event.latLng.lng();
              addMarker({coords:event.latLng});
              // return (event.latLng.lat(), event.latLng.lng());
            });
            // console.log(event.latLng.lat() + ', ' + event.latLng.lng());
            var markers = [
              /*{
                coords: {lat: 30.267490630430462, lng: -97.76876091957092 },
                content: '<h2> Zilker Park Great Field</h2>'
              },
              {
                coords: {lat: 30.17627525018336, lng: -97.74337626739577 },
                content: '<h2>Onion Creek Soccer Complex</h2>'
              },
              {
                coords: {lat: 30.28123286605467, lng: -97.73457361095086 },
                content: '<h2>UT Campbell Fields</h2>'
              }*/
            ];

            for(var i = 0; i < markers.length; i++) {
              addMarker(markers[i]);
            }

            function addMarker(props) {
              var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
              });
              if(props.content){
                var infoWindow = new google.maps.InfoWindow({
                 content: props.content
               });

               marker.addListener('click', function() {
                 infoWindow.open(map, marker);
               });
              }
            }
          }

        // addMarker({coords: {lat: 30.2672, lng:-97.7431},
        //   content: '<h1>Austin, TX</h1>'
        // }
        </script>


      </div>
    </div>

  </div>
  <input type="submit" value="Add Game">
</form>

</main>


<%- include('../partials/footer') %>
