<%- include('../partials/header') %>


<main class="new">

<form class="" action="/sport" method="POST">
  <div class="newDetails">
    <div class="leftNew">
      <div class="locations">
        <label for="">Select a location</label> <br>
        <select class="" name="Location">
          <option value="ZilkerPark">ZilkerPark</option>
          <option value="UT Fields">UT Fields</option>
          <option value="Onion Creek">OnionCreek</option>
        </select>
      </div>
      <div class="newComments">
        <label for="">Comments on the location</label>
        <input type="text" name="" value="">
      </div>
      <div class="numPlayersNew">
        <label for="">How many players are with you?</label>
        <input type="text" name="" value="">
      </div>
    </div>
    <div class="rightNew">
      <div class="newMap">
        Map.API
      </div>
    </div>

  </div>
  <input type="submit" value="Add Game">
</form>

</main>


<%- include('../partials/footer') %>
