<%- include('../partials/header') %>


<main class="new">

<form class="" action="/soccer" method="POST">
  <div class="newDetails">
    <div class="leftNew">
      <div class="sport">
        <label for="">Choose your Sport:</label>
        <select class="" name="sport">
          <option value="soccer">Soccer</option>
          <option value="football">Football</option>
          <option value="frisbee">Ultimate Frisbee</option>
        </select>
      </div>
        <div class="locations">
        <label for="">Select a location</label> <br>
        <select class="" name="location">
          <option value="ZilkerPark">ZilkerPark</option>
          <option value="UT Fields">UT Fields</option>
          <option value="Onion Creek">OnionCreek</option>
        </select>
      </div>
      <div class="newComments">
        <label for="">Comments on the location</label>
        <input type="text" name="hostComments" value="">
      </div>
      <div class="numPlayersNew">
        <label for="">How many players are starting with you?</label>
        <input type="text" name="numOriginalPlayers" value="">
      </div>
    </div>
    <div class="rightNew">
      <div class="newMap">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=30.2672,-97.7431&zoom=12&size=300x200&key=AIzaSyBKZZSoBeHigMVBfIyGZHEZqqLPiGJkU38" alt="">
      </div>
    </div>

  </div>
  <input type="submit" value="Add Game">
</form>

</main>


<%- include('../partials/footer') %>
